
@{
    ViewBag.Title = "Xe";
}

<h2>QUẢN LÍ THÔNG TIN XE</h2>
<p>
    @Html.ActionLink("Thêm Xe", "Themxe")
</p>

<table class="table" border="1">
    <tr>
        <th style="width:50px">STT</th>
        <th style="width:200px">Tên xe</th>
        <th style="width:100px">Màu</th>
        <th style="width:100px">Giá</th>
        <th style="width:500px">Mô tả</th>
        <th style="width:200px">Ngày đăng bán</th>
        <th style="width:500px"></th>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            @Html.ActionLink("Sửa", "Suaxe")
            @Html.ActionLink("Xóa", "Xoaxe")
        </td>
    </tr>

